*.csv
*.dat
*.gz
*.log
*.out
*.pid
*.seed
*.sqlite*
*.sublime-workspace
*.sublime-project
*.sw*
*.zip

**/.firebase
**/.cache
**/.data
**/*/node_modules
**/build
**/coverage
**/lib-cov
**/logs
**/pids
**/results
**/static
**/tmp

.DS_Store
.idea
.lib_src
.nyc_output
.sass-cache
.secret*
.tmp
.firebaserc
